*~
/README.rst

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.sw[op]

# C extensions
*.so

# Packages
*.egg
*.egg-info
/bin
/build
/dist
/eggs
/lib
/local
/man
/parts
/share
/Scripts
/sdist
/var
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# OS
.DS_Store

# Common IDEs & editors
*.vim
.idea/
.project
.settings

# Project
reports/*.xml
*.sqlite3
local_settings.py
/.env
static/
