*.py[co]
*.vim
*.sw[op]
*~
*.sqlite3

# Packages
*.egg
*.egg-info
/bin
/build
/dist
/eggs
/lib
/local
/man
/parts
/share
/Scripts
/sdist
/var
develop-eggs
.installed.cfg

# Project
local_settings.py
/.env
static/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# OS
.DS_Store

# Common IDEs
.idea/
.project
.settings

/README.rst
